<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apush</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        .main{
            position: relative;
        }
        button{
            position: absolute;
            margin-top: 10px;
            right: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="apush" method="post">
        <div class="main">
            <p>消息内容：</p>
            <textarea name="content" class="form-control" rows="3"></textarea>
            <p>手机号：</p>
            <input name="phoneList" type="text" class="form-control" placeholder="多个手机号使用英文逗号相隔">
            <button type="submit" class="btn btn-default">发送</button>
        </div>
    </form>
</div>
</body>
</html>